# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
doc/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
config/
*.html
venv/
htmlcov/
.coverage
coverage.xml
.tox/
docs/_build/
docs/_build/html
_template/
html/
doctrees/
.cache
.eggs/
docs/make.bat
.pytest_cache/
.idea/
